<div class="login-module" class="registrationController">
	<form class="pure-form pure-form-aligned">
	    <fieldset>
	        <div class="pure-control-group">
	            <label for="name">Username</label>
	            <input id="name" type="text" placeholder="Username" ng-model="user.email">
	        </div>

	        <div class="pure-control-group">
	            <label for="password">Password</label>
	            <input id="password" type="password" placeholder="Password" ng-model="user.password">
	        </div>
	        <div class="pure-control-group">
	            <label for="password">Password</label>
	            <input id="password" type="password" placeholder="Password" ng-model="user.confirmPassword">
	        </div>

	        <div class="pure-control-group">
	            <label for="nickname">Nickname</label>
	            <input id="nickname" type="text" placeholder="Enter your nickname" ng-model="user.nickname">
	        </div>

	        <div class="pure-controls">
	            <button type="submit" class="pure-button pure-button-primary">Submit</button>
	        </div>
	    </fieldset>
	</form>
</div>
